body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
      font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
section{
    height: 975px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    font-size: x-large;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5 px;

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 5;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}